{% extends "base.html" %}
{% load static %}

{% block title %}Manage Categories{% endblock %}

{% block heading %}<h1>Manage Categories</h1>{% endblock %}

{% block content %}
<div class="manage-container">
    <h2>Categories</h2>
    <table class="manage-table">
        <!-- Form for Adding a New Category -->
        <tr class="manage-row">
            <form method="post" action="{% url 'categories_add' desk_slug=desk.slug %}">
                {% csrf_token %}
                <td class="manage-cell">
                    {{ form.title }}
                    {% if form.title.errors %}
                        <div class="text-danger">{{ form.title.errors }}</div>
                    {% endif %}
                </td>
                <td class="manage-cell">
                    {{ form.description }}
                    {% if form.description.errors %}
                        <div class="text-danger">{{ form.description.errors }}</div>
                    {% endif %}
                </td>
                <td class="manage-cell manage-actions">
                    <button type="submit" class="manage-button">Add Category</button>
                </td>
            </form>
        </tr>

        <!-- List of Categories -->
        {% for category in categories %}
        <tr class="manage-row">
            <td class="manage-cell">{{ category.title }}</td>
            <td class="manage-cell">{{ category.description }}</td>
            <td class="manage-cell">
                <div class="manage-actions">
                    <form method="post" action="{% url 'categories_delete' desk_slug=desk.slug category_id=category.id %}">
                        {% csrf_token %}
                        <button type="submit" class="manage-button delete">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="manage-empty-message">No categories found. Add some categories above.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}