{% extends "base.html" %}
{% load static %}

{% block title %}{{ desk.name }} Tasks{% endblock %}

{% block heading %}<h1>{{ desk.name }} Tasks</h1>{% endblock %}

{% block content %}
<!-- Task display -->
<div class="tasks-container">
    <div class="active-tasks">
        <h2>Active Tasks</h2>
        <ul class="task-list">
            {% for task in tasks %}
                {% if task.is_active %}
                <li class="task-item">
                    <form method="post" action="{% url 'tasks_toggle' desk_slug=desk.slug task_id=task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="list-btn active">
                            {{ task }}
                            <span class="list-btn-icon">✓</span>
                        </button>
                    </form>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="inactive-tasks">
        <h2>Suggested Tasks</h2>
        <div class="inactive-tasks-scroll">
            <ul class="task-list-horizontal">
                {% for task in tasks %}
                    {% if not task.is_active %}
                        <li>
                            <form method="post" action="{% url 'tasks_toggle' desk_slug=desk.slug task_id=task.id %}">
                                {% csrf_token %}
                                <button type="submit" class="list-btn inactive">
                                    {{ task }}
                                    <span class="list-btn-icon">✓</span>
                                </button>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- Include the external JavaScript file -->
<script src="{% static 'js/toggle_task.js' %}"></script>
{% endblock %}